ion-item-sliding {
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: .7em;
    
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%
}

h1 {
    color: var(--ion-color-primary);
}