<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Info</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeInfo()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Step 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Create and Choose a task you'd like to get done</h2>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Step 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Start the Pomodoro Timer</h2>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Step 3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Work on the task until the Pomodoro rings</h2>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Step 4</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Take a short break After Each Pomodoro (5 Minutes)</h2>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Step 5</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Every 4 pomodoros, take a longer break (20 - 30 Minutes)</h2>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Benifits of The Pomodoro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>1. Find out how much effort an activity requires.</h2>
      <h2>2. Cut down on interruptions.</h2>
      <h2>3. Estimate the effort for activities.</h2>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>More Info</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-buttons >
        <ion-button fill="outline" (click)="redirect()">The Pomodoro Technique </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>