
.flexcon {
    display: flex!important;
    align-content: space-between!important;
    align-items: center!important;
    height: 100%;
}

ion-grid {
    width: 100%;
}

.time {
    font-size: 300%;
}